<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/top.css">
</head>
<body>
<div class="top">
    标志 用户
</div>
    <form action="#" class="log">

        <input class="name" id="name" name="username" type="text" placeholder="用户名"/>
        <p class="username">*用户名错误</p>
            <input type="password" id="pwd" name="pwd" class="pwd" placeholder="密码">
        <p class="password">*密码错误</p>
        <input type="submit" value="登录" class="submit">
    </form>
<div class="butt">

</div>
</body>
</html>