.top{
    position: fixed;
    width: 100%;
    height: 30px;
    background: #20BA3C;
    top: 0;
}
.butt{
   position: fixed;
    width: 100%;
    height: 30px;
    background: #33CC4F;
    bottom: 0;
}